<style>
  .cta {
    text-align: center;
  }

  .cta .btn {
    text-decoration: none;
    background-color: var(--highlight);
    color: var(--highlight-contrast);
    border-radius: 6px;
    display: inline-block;
    font-family: "Oswald", sans-serif;
    font-size: 24px;
    letter-spacing: 1px;
    margin-top: 2rem;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: 550;
    display: inline-block;
  }

  .cta .btn:hover {
    color: var(--highlight-inverse-contrast);
    background-color: var(--highlight-inverse);
  }
</style>
<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
